<% @posts.each do |post| %>
  <%= render post %>
<% end %>

<%# O trecho acima pode ser substituido por: `render @posts` %>

<hr>

<div class='text-right'>
  <%= link_to 'Criar novo post', new_post_path, class: 'btn btn-success' %>
</div>
