<div class='shadow bg-light p-5 rounded'>
  <div class='text-center mb-5'>
    <h1><%= @post.title %></h1>

    <p class='text-muted'>
      <strong>Por <%= @post.author %></strong><br>
      <%= l @post.created_at, format: :long %>
    </p>
  </div>

  <div class='px-5'>
    <%# ATENÇÃO: Sempre que usarmos \n (como na linha abaixo), precisamos usar áspas duplas %>
    <%= @post.body.gsub("\n", '<br>').html_safe %>
  </div>
</div>
